<%- include('header')%>



    <!-- NAV -->
    
    <%- include('nav')%>
        <div class="container  d-flex p-5 flex-wrap ">
            <div class="card text-white me-3 mb-3" style="background:url(https://images.unsplash.com/photo-1664575602554-2087b04935a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d29tYW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    width: 18vmax;
    height: 23vmax;
     ">

                <div class="card-body d-flex align-items-end ">
                    <div class="card-text w-100 d-flex justify-content-between  align-items-center">

                        <div class="">
                            <h1>Title</h1>
                            <p>Author</p>
                        </div>
                        <a class="btn btn-light" download="" href=""><img height="30" src="/images/image.png"
                                alt=""></a>

                    </div>

                </div>
            </div>
            
            <%card.forEach(function(card){%>
                <div class="container  d-flex p-5 flex-wrap ">
                    <div class="card text-white me-3 mb-3" style="background:url(' /uploads/<%= card.image%>');
            background-size: cover;
            background-position: center;
            width: 18vmax;
            height: 23vmax;
             ">
        
                        <div class="card-body d-flex align-items-end ">
                            <div class="card-text w-100 d-flex justify-content-between  align-items-center">
        
                                <div class="">
                                    <h1><%= card.title%></h1>
                                    <p><%= card.author%></p>
                                </div>
                                <a class="btn btn-light" download="/uploads/<%= card.image%>" href="/uploads/<%= card.image%>"><img height="30" src="/images/image.png"
                                        alt=""></a>
        
                            </div>
        
                        </div>
                    </div>
                   
        
                </div>
        
            <%})%>

        </div>




        <!--FOOTER  -->
        <%- include('footer')%>